# Omgevings- en configuratiebestanden
**/*.env
.vscode/

# Python build/artifact bestanden
__pycache__/
*.pyc
venv/

# CSS en gerelateerde bestanden
*.css
*.css.map

# TypeScript/JS build/artifact bestanden
app/static/js/
dist/
build/
*.js
*.js.map

# Eigen scripts en mappen
con/
go.sh
