// SASS Variables
@use "variable" as *;

/* Neon-button */
@keyframes scalingShadow {
    0% {
        top: 120%;
        transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
    }
    50% {
        top: 165%;
        transform: perspective(1.5em) rotateX(45deg) scale(0.75, 0.3);
    }
    100% {
        top: 120%;
        transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
    }
}

@keyframes animate {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-40%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes rotate
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}

// @keyframes rotate-reverse
// {
//     from
//     {
//         transform: rotate(0deg);
//     }
//     to
//     {
//         transform: rotate(360deg);
//     }
// }