// SASS Variables
@use "variable" as *;

// Doorzichtige achtegrond van de articles/div
@mixin glass-card(
    $height: 100%, 
    $width: 100%, 
    $border-radius: 10px, 
    $blur: 5px
)
{
    height: $height;
    width: $width;
    border: solid 3px rgba(70, 80, 100, 0.05);
    border-radius: $border-radius;
    backdrop-filter: blur($blur);
    background: linear-gradient(135deg, rgba(50, 60, 80, 0.05), rgba(50, 60, 80, 0.05));
}

// Flexbox mixin
@mixin flexbox(
    $direction: row, 
    $justify: flex-start, 
    $align: stretch
) 
{
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Typography mixin
@mixin typography(
    $font-family: $paragraph-font,
    $font-size: 1rem,
    $font-weight: 400,
    $color: white,
    $line-height: 1.5,
    $text-align: left,
    $text-transform: none
) 
{
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    line-height: $line-height;
    text-align: $text-align;
    text-transform: $text-transform;
}