@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Goldman:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Font Families
$title-font: "Goldman", sans-serif;
$paragraph-font: "Ubuntu", sans-serif;
$courier-font: "Courier Prime", monospace;

// Colors
$main-color: #2ecc71;
$background-color: rgb(6, 10, 18);

$paragraph-color: rgba(10, 37, 92, 0.5);
$blue: rgba(51, 81, 142, 1);

// TEST
// $background-color: rgb(0, 12, 35);
// $main-color: #2ecc71;
// $background-color: #1a1a2e;
// $main-color: #00ffcc; 