@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unlock&display=swap');

$title-font: "Unlock", serif;
$test-font: "Goldman", sans-serif;
$paragraph-font: "Ubuntu", sans-serif;

$primary-color: rgb(51, 51, 51);

:root
{
    font-size: 16px; // 1rem = 16px
}

::selection 
{
    background: #ffcc00;
    color: black;
}

/* Alles resetten qua box model, padding/margin en pseudo-elementen */
*,
*::before,
*::after
{
    margin: 0;                  /* Verwijdert standaard marges */
    padding: 0;                 /* Verwijdert standaard opvulling */
    box-sizing: border-box;    /* Voorkomt dat padding en border de breedte vergroten */
}

p,
a,
li,
article,
div,
textarea
{
    font-family: $paragraph-font;
    color: $primary-color;
}

h1,
h2,
h3,
h4,
h5
{
    color: $primary-color;
}

body
{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

.cv-intro-svg svg,
.cv-mot-svg svg,
.cv-inter-svg svg,
.cv-exper-svg svg,
.cv-lang-svg svg
{
    width: 1024px;
    height: 100px;
}

header
{
    .nav-header
    {
        ul
        {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // gap: 5rem;
            padding: 1rem 2rem;

            li
            {
                a
                {
                    text-decoration: none;
                    font-family: $title-font;
                    // color: $primary-color;
                }
            }   
        }
    }
}

main
{
    flex: 1;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1rem;

    .cv-main-banner
    {
        display: flex;
        justify-content: center;
        align-items: center;

        .profile-pic
        {
            img
            {
                width: 15vw;
                border-radius: 50%;
                object-fit: cover;
                border: solid 5px black;
            }
        }

        .banner-info
        {
            // margin-left: 1rem;

            h1
            {
                font-size: 5rem;
                text-align: center;
                // color: $primary-color;
            }

            .banner-divider
            {
                border: none;
                height: 5px;
                background-color: $primary-color;
                margin: 0.5rem 0;
                width: 100%;
            }

            h2
            {
                font-size: 3.5rem;
                text-align: center;
            }
        }
    }

    .cv-intro-section,
    .cv-exp-section
    {
        .cv-intro-svg
        {
            .cv-section-text
            {
                position: relative;
                text-align: center;
                // margin-top: 7rem;
            }
        }
    }
}

footer
{
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    p
    {
        color: white;
        text-align: center;
        padding: 0.25rem 0;
        font-weight: 200;
    }

    // p:nth-child(1)
    // {
    //     font-weight: bold;
    // }

    p:nth-child(3)
    {
        margin-inline: .5rem;
    }

    .footer-svg
    {
        a
        {
            color: white;
            // text-decoration: none;

            svg
            {
                width: 20;
                height: 20;
                
                vertical-align: middle;
                margin-right: 0.5rem;
                fill: white; // Zorgt ervoor dat de SVG-vulling wit is
            }
        }
    }
}