@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Unlock&display=swap');

$title-font: "Unlock", serif;
$test-font: "Goldman", sans-serif;

$primary-color: rgb(36, 36, 36);

:root
{
    font-size: 16px; // 1rem == 16px
}

/* Alles resetten qua box model, padding/margin en pseudo-elementen */
*,
*::before,
*::after
{
    margin: 0;                  /* Verwijdert standaard marges */
    padding: 0;                 /* Verwijdert standaard opvulling */
    box-sizing: border-box;    /* Voorkomt dat padding en border de breedte vergroten */
}

body
{
    max-width: 100vw;
    padding: 0 20vw;
    // background-color: rgb(114, 114, 114);
    background-color: rgb(235, 235, 235);
}

header
{
    .nav-header
    {
        ul
        {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // gap: 5rem;
            padding: 1rem 2rem;

            li
            {
                a
                {
                    text-decoration: none;
                    font-family: $title-font;
                    color: $primary-color;
                }
            }   
        }
    }
}

main
{
    // background-color: blue;

    .cv-title-parent 
    {
        position: relative;
        display: flex;
        width: 750px; 
        z-index: 0;
        margin-bottom: 20px;

        .cv-left-section 
        {
            position: relative;
            width: 100%;

            .cv-section-title 
            {
                position: absolute;
                z-index: 1;
                top: 10px;
                left: 0;
            }
        }

        .cv-section-subtitle 
        {
            position: absolute;
            z-index: 99;
            top: 0;
            left: 200px; // Of 250px - 50px = 200px voor aansluiting
        }
    }
}

// .text-wrap-shape
// {
//     float: left;
//     width: 500px;
//     height: 100px;
//     shape-outside: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
//     clip-path: polygon(0% 50%, 10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%);
//     background: cyan;
//     // -webkit-shape-outside: polygon(...); /* voor Safari */
// }
