// @import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Unlock&display=swap');

$title-font: "Unlock", serif;
$test-font: "Goldman", sans-serif;
$paragraph-font: "Ubuntu", sans-serif;

$primary-color: rgb(36, 36, 36);

:root
{
    font-size: 16px; // 1rem == 16px
}

/* Alles resetten qua box model, padding/margin en pseudo-elementen */
*,
*::before,
*::after
{
    margin: 0;                  /* Verwijdert standaard marges */
    padding: 0;                 /* Verwijdert standaard opvulling */
    box-sizing: border-box;    /* Voorkomt dat padding en border de breedte vergroten */
}

p,
a,
li,
article,
div,
text,
textarea
{
    font-family: $paragraph-font;
}

body
{
    max-width: 100vw;
    // padding: 0 20vw;
    // background-color: rgb(114, 114, 114);
    background-color: rgb(235, 235, 235);
}

header
{
    .nav-header
    {
        ul
        {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            // gap: 5rem;
            padding: 1rem 2rem;

            li
            {
                a
                {
                    text-decoration: none;
                    font-family: $title-font;
                    color: $primary-color;
                }
            }   
        }
    }
}

main
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;

    .cv-intro-section,
    .cv-exp-section
    {
    
        // position: relative;
        // display: flex;
    //         flex-direction: column;
    // align-items: center; // Centraal uitlijnen over de X-as
    // text-align: center;  // Tekst centreren

    .cv-intro-svg
    {
    //     .cv-left-section 
    //     {
        
    //     position: relative;
    //     // display: flex;
    //     // flex-direction: column;
    //     // align-items: center;
    //         .cv-section-title 
    //         {
    //             // position: absolute;
    //             // z-index: 1;
    //             // top: 10px;
    //             // left: 0;
    //                     // position: relative; // gebruik niet absolute tenzij nodig
    //     text-align: center;
    //         }
    //     }

    //     .cv-section-subtitle 
    //     {
    //         // position: absolute;
    //         // z-index: 99;
    //         // top: 0;
    //         // left: 200px; // Of 250px - 50px = 200px voor aansluiting
    //     //             position: relative; // gebruik niet absolute tenzij nodig
    //     // text-align: center;
    //             // margin-top: 7rem;
    //     text-align: center;
    //     }
    // }

        .cv-section-text
        {
            position: relative;
            text-align: center;
            // margin-top: 7rem;
        }
    }}
}