@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Goldman:wght@400;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.row1-left,
.row2-left,
.row2-right-top,
.bottom-left,
.bottom-right {
  height: 100%;
  width: 100%;
  border: solid 3px rgba(70, 80, 100, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: linear-gradient(135deg, rgba(50, 60, 80, 0.05), rgba(50, 60, 80, 0.05));
}

:root {
  font-size: 16px;
}

/* Hele scrollbar */
::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

/* Scrollbar track (achtergrond) */
::-webkit-scrollbar-track {
  background: rgba(6, 10, 18, 0.7);
  border-radius: 10px;
}

/* Scrollbar thumb (het schuifje) */
::-webkit-scrollbar-thumb {
  background: #2ecc71;
  border-radius: 10px;
  border: 3px solid rgba(6, 10, 18, 0.7);
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(105.264, 221.236, 154.442);
}

::selection {
  color: rgb(84.456, 216.544, 140.468);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  min-height: 100%;
  background-color: rgb(6, 10, 18);
}

html,
body {
  background-attachment: fixed;
}

p,
a,
li,
article,
div,
textarea {
  font-family: "Ubuntu", sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
  position: relative;
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}

a.timeline-link {
  color: rgba(46, 204, 113, 0.8);
  text-decoration: none;
}

.green-name {
  color: #2ecc71;
}

.cv-skills-section h2,
.cv-projects-section h2,
.cv-introduction-section h2,
.timeline-section h2,
.projects-featured-section h2,
.education-certifcates-section h2 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  margin-bottom: 2.5rem;
}
.cv-skills-section h2 span.last-word,
.cv-projects-section h2 span.last-word,
.cv-introduction-section h2 span.last-word,
.timeline-section h2 span.last-word,
.projects-featured-section h2 span.last-word,
.education-certifcates-section h2 span.last-word {
  color: #2ecc71;
}

.education-school-section h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  margin-bottom: 2.5rem;
}
.education-school-section h1 span.last-word {
  color: #2ecc71;
}
.education-school-section .education-explenation {
  color: rgba(158, 190, 255, 0.5);
}

.nav-toggle-button {
  display: none;
  font-size: 2.5rem;
  background: none;
  border: none;
  cursor: pointer;
  margin: 0.5rem;
  float: right;
  color: #2ecc71;
  transition: transform 0.3s ease;
}
.nav-toggle-button::before {
  content: "☰";
}

.all-projects-button,
.contact-me-button {
  display: inline-flex;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25em;
  position: relative;
  color: #2ecc71;
  border: #2ecc71 0.125em solid;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em #2ecc71;
  box-shadow: inset 0 0 0.5em 0 #2ecc71, 0 0 0.5em 0 #2ecc71;
}
.all-projects-button a,
.contact-me-button a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #2ecc71;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  text-shadow: 0 1px 2px #060a12;
}
.all-projects-button::after,
.contact-me-button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 2em 0.25em #2ecc71;
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}
.all-projects-button:hover::before, .all-projects-button:focus::before,
.contact-me-button:hover::before,
.contact-me-button:focus::before {
  opacity: 1;
}
.all-projects-button:hover::after, .all-projects-button:focus::after,
.contact-me-button:hover::after,
.contact-me-button:focus::after {
  opacity: 1;
}
.all-projects-button:hover, .all-projects-button:focus,
.contact-me-button:hover,
.contact-me-button:focus {
  outline: none;
  color: rgb(6, 10, 18);
  text-shadow: none;
}
.all-projects-button.active,
.contact-me-button.active {
  animation: animate 0.5s ease-in-out;
}
.all-projects-button.active::before,
.contact-me-button.active::before {
  animation: scalingShadow 0.5s ease-in-out;
}

/* Neon-button */
@keyframes scalingShadow {
  0% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
  50% {
    top: 165%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.75, 0.3);
  }
  100% {
    top: 120%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
  }
}
@keyframes animate {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0%);
  }
}
header.dropdown-active .nav-toggle-button {
  color: #2ecc71;
}

header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  padding: 1rem 5rem;
}
header .header-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header .header-desktop #portfolio-title {
  font-family: "Goldman", sans-serif;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-weight: 400;
  color: white;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  text-decoration: none;
}
header .header-desktop #portfolio-title img {
  max-height: 10vh;
}
header .header-desktop .nav-header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  gap: 2.5rem;
}
header .header-desktop .nav-header ul li a {
  text-decoration: none;
  font-size: 1.5rem;
}
header .header-desktop .nav-header ul li a.active, header .header-desktop .nav-header ul li a:hover {
  color: #2ecc71 !important;
}
header .header-desktop .nav-header ul li a:visited {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  gap: 7.5rem;
}
main .error-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
main .error-container h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  margin-bottom: 2.5rem;
}
main .error-container h1 span.last-word {
  color: #2ecc71;
}
main .error-container p {
  margin: 2.5rem 0;
}
main .error-container a {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: #2ecc71;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  cursor: pointer;
}
main .error-container a:hover {
  text-decoration: underline;
}
main .cv-banner-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
main .cv-banner-section .cv-main-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  gap: 2rem;
}
main .cv-banner-section .cv-main-banner .profile-pic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: clamp(200px, 25vw, 300px);
  aspect-ratio: 1/1;
  flex-shrink: 0;
}
main .cv-banner-section .cv-main-banner .profile-pic img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
main .cv-banner-section .cv-banner-fancy-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
  height: auto;
}
main .cv-banner-section .cv-banner-fancy-header .cv-banner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 1rem;
  overflow: hidden;
  margin-top: 0;
}
main .cv-banner-section .cv-banner-fancy-header .cv-banner-container .heading {
  font-family: "Goldman", sans-serif;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  font-weight: 400;
  color: white;
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}
main .cv-banner-section .cv-banner-fancy-header .subheading-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}
main .cv-banner-section .cv-banner-fancy-header .subheading-container .subheading {
  color: white;
  opacity: 0.25;
  font-size: clamp(1rem, 3vw, 1.25rem);
  margin: 0;
}
main .cv-banner-section .cv-banner-fancy-header .subheading-container .social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
}
main .cv-banner-section .cv-banner-fancy-header .subheading-container .social-icons a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .cv-banner-section .cv-banner-fancy-header .subheading-container .social-icons a:hover svg {
  stroke: white;
  transform: scale(1.1);
}
main .cv-banner-section .cv-banner-fancy-header .subheading-container .social-icons svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: #2ecc71;
  fill: none;
  transition: stroke 0.3s, transform 0.2s;
}
main .cv-banner-section .cv-banner-fancy-header .my-description {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .cv-banner-section .cv-banner-fancy-header .my-description p {
  font-family: "Ubuntu", sans-serif;
  font-size: clamp(1.1rem, 2.5vw, 1.25rem);
  font-weight: lighter;
  color: white;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  max-width: 600px;
  margin: 1rem 0;
}
main .cv-experience-section {
  padding: 1.25rem;
  color: white;
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
}
main .cv-experience-section div {
  text-align: center;
}
main .cv-experience-section div p {
  font-family: "Goldman", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #2ecc71;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  text-align: center;
  margin: 0;
}
main .cv-experience-section div h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Courier Prime", monospace;
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  font-weight: 100;
  color: white;
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  margin: 0.5rem 0 0;
}
main .cv-introduction-section {
  width: 100%;
}
main .cv-introduction-section .introduction-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto auto;
  gap: 1rem;
}
main .cv-introduction-section .introduction-container .row1 {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-areas: "row1-left row1-right";
  gap: 1rem;
}
main .cv-introduction-section .introduction-container .row1 .row1-left {
  grid-area: row1-left;
  padding: 1.5rem;
  border: solid 2px rgba(51, 81, 142, 0.5);
  box-shadow: inset 0 0 15px rgba(51, 81, 142, 0.25);
}
main .cv-introduction-section .introduction-container .row1 .row1-left p {
  font-family: "Courier Prime", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  color: rgba(158, 190, 255, 0.5);
  line-height: 1.5;
  text-align: left;
  text-transform: none;
  font-style: italic;
}
main .cv-introduction-section .introduction-container .row1 .row1-left p span.green-name {
  color: rgba(46, 204, 113, 0.5);
}
main .cv-introduction-section .introduction-container .row1 .row1-right {
  grid-area: row1-right;
}
main .cv-introduction-section .introduction-container .row1 .row1-right ul {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  gap: 1rem;
}
main .cv-introduction-section .introduction-container .row1 .row1-right ul .cv-languages-li {
  background-color: rgba(50, 60, 80, 0.15);
  background: linear-gradient(135deg, rgba(50, 60, 80, 0.05), rgba(50, 60, 80, 0.05));
  border: solid 3px rgba(70, 80, 100, 0.05);
  border-radius: 15px;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;
  border: solid 2px rgba(51, 81, 142, 0.5);
  box-shadow: inset 0 0 15px rgba(51, 81, 142, 0.25);
}
main .cv-introduction-section .introduction-container .row1 .row1-right ul .cv-languages-li i {
  font-size: 2.5rem;
  color: rgba(158, 190, 255, 0.5);
}
main .cv-introduction-section .introduction-container .row1 .row1-right ul .cv-languages-li h4 {
  color: rgba(158, 190, 255, 0.5);
}
main .cv-introduction-section .introduction-container .row2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "row2-left row2-right";
  gap: 1rem;
}
main .cv-introduction-section .introduction-container .row2 .row2-left {
  grid-area: row2-left;
}
main .cv-introduction-section .introduction-container .row2 .row2-right {
  grid-area: row2-right;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "row2-right-top" "row2-right-bottom";
  gap: 0.75rem;
}
main .cv-introduction-section .introduction-container .row2 .row2-right .row2-right-top {
  grid-area: row2-right-top;
}
main .cv-introduction-section .introduction-container .row2 .row2-right .row2-right-bottom {
  grid-area: row2-right-bottom;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "bottom-left bottom-right";
  gap: 0.75rem;
}
main .cv-introduction-section .introduction-container .row2 .row2-right .row2-right-bottom .bottom-left {
  grid-area: bottom-left;
}
main .cv-introduction-section .introduction-container .row2 .row2-right .row2-right-bottom .bottom-right {
  grid-area: bottom-right;
}
main .cv-contact-me-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .cv-contact-me-section .contact-me-text {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  line-height: 1.5;
  text-align: center;
  text-transform: none;
  width: 50%;
  padding: 1rem 4rem;
}
main .cv-contact-me-section .contact-me-text p {
  color: white;
  line-height: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #2ecc71;
  text-underline-offset: 0.5rem;
}
main .cv-contact-me-section .contact-me-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
main .cv-contact-me-section .contact-me-button-container .contact-me-button {
  font-size: 1.5rem;
}
main .timeline-section .timeline {
  position: relative;
  padding: 0;
  margin: 0;
}
main .timeline-section .timeline .timeline-container {
  position: relative;
  overflow: visible;
  display: block;
  padding: 0;
  margin: 0;
}
main .timeline-section .timeline .timeline-container .timeline-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  box-sizing: border-box;
}
main .timeline-section .timeline .timeline-container .timeline-item:not(:last-child) {
  margin-bottom: 5rem;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: 53px;
  margin-top: 1.5rem;
  z-index: 2;
  transition: background 0.25s ease;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-img::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  z-index: -1;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-img.active {
  background: #2ecc71;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-img.active::after {
  border-color: #2ecc71;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 75%;
  margin-left: 50px;
  padding: 2rem;
  border: 1px solid rgba(84, 84, 84, 0.15);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  transform: translateX(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
  will-change: transform, opacity;
  background: linear-gradient(235deg, rgba(6, 12, 22, 0.6) 0%, rgba(8.55, 14.25, 25.65, 0.6) 40%, rgba(12, 20, 35, 0.6) 60%, rgba(4, 9, 16, 0.6) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  gap: 1rem;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content h3 {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  color: white;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content p {
  color: rgba(158, 190, 255, 0.5);
  line-height: 1.5;
  font-size: clamp(1.15rem, 2.5vw, 1.25rem);
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2.5rem;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div:nth-child(1) {
  width: 50%;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div:nth-child(2) {
  width: 50%;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  padding: 2rem 1rem 0;
  gap: 1rem;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div h4 {
  font-size: clamp(1.25rem, 2.5vw, 1.5rem);
  text-decoration: underline;
  text-decoration-color: #2ecc71;
  text-decoration-thickness: 3px;
  color: white;
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 7.5rem;
  aspect-ratio: 1/1;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
  box-shadow: inset 4px 8px 16px rgba(6, 10, 18, 0.5);
}
main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
main .timeline-section .timeline .timeline-line-segment {
  position: absolute;
  background: #2ecc71;
  width: 4px;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  height: 0;
  transition: opacity 0.5s ease, height 0.5s ease;
  border: 2px solid rgba(6, 10, 18, 0.7);
  box-sizing: content-box;
  left: 0;
  transform: translateX(-1.5px);
}
main .projects-featured-section {
  position: relative;
  width: 100%;
  height: 850px;
  overflow: hidden;
  padding: 1.25rem;
  box-sizing: border-box;
}
main .projects-featured-section .carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 100%;
}
main .projects-featured-section .carousel .carousel-arrow {
  display: none;
}
main .projects-featured-section .skills-container {
  position: absolute;
  width: 340px;
  aspect-ratio: 340/520;
  transition: transform 0.8s ease, opacity 0.8s ease, box-shadow 0.8s ease;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
main .projects-featured-section .skills-container.front {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 10;
}
main .projects-featured-section .skills-container.front .card svg .card-shape {
  fill: none;
  stroke: rgba(48, 67, 102, 0.25);
  stroke-width: 3;
}
main .projects-featured-section .skills-container.front .card svg .card-shape-inner {
  fill: none;
  stroke-width: 2;
}
main .projects-featured-section .skills-container.front .card svg .card-title {
  fill: rgba(158, 190, 255, 0.5);
}
main .projects-featured-section .skills-container.front .card .card-content .card-stats {
  border-bottom: solid 3px rgba(48, 67, 102, 0.25);
}
main .projects-featured-section .skills-container.front .card .card-content .card-stats .stat {
  color: #2ecc71;
  border: #2ecc71 0.125em solid;
  text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em #2ecc71;
  box-shadow: inset 0 0 0.5em 0 #2ecc71, 0 0 0.5em 0 #2ecc71;
  border-radius: 0.25rem;
}
main .projects-featured-section .skills-container.front .card .card-content .card-description p {
  color: rgba(158, 190, 255, 0.5);
}
main .projects-featured-section .skills-container.front .card .card-content .card-footer a {
  color: rgba(46, 204, 113, 0.75);
  text-shadow: 0 0 0.125em hsla(0, 0%, 14%, 0.3), 0 0 0.45em #2ecc71;
}
main .projects-featured-section .skills-container.front .card .card-content .card-footer a:hover {
  color: #2ecc71;
}
main .projects-featured-section .skills-container.left {
  transform: translate(calc(-50% - 360px), -50%) scale(0.8);
  opacity: 0.7;
  z-index: 5;
  cursor: pointer;
}
main .projects-featured-section .skills-container.left .card .card-content .card-stats {
  border-bottom: solid 3px rgba(48, 67, 102, 0.25);
}
main .projects-featured-section .skills-container.left .card .card-content .card-stats .stat {
  color: rgba(48, 67, 102, 0.25);
  border: rgba(48, 67, 102, 0.25) 0.125em solid;
  border-radius: 0.25rem;
}
main .projects-featured-section .skills-container.left:hover {
  transform: translate(calc(-50% - 360px), -50%) scale(0.85);
  opacity: 0.85;
}
main .projects-featured-section .skills-container.right {
  transform: translate(calc(-50% + 360px), -50%) scale(0.8);
  opacity: 0.7;
  z-index: 5;
  cursor: pointer;
}
main .projects-featured-section .skills-container.right:hover {
  transform: translate(calc(-50% + 360px), -50%) scale(0.85);
  opacity: 0.85;
}
main .projects-featured-section .skills-container.right .card .card-content .card-stats {
  border-bottom: solid 3px rgba(48, 67, 102, 0.25);
}
main .projects-featured-section .skills-container.right .card .card-content .card-stats .stat {
  color: rgba(48, 67, 102, 0.25);
  border: rgba(48, 67, 102, 0.25) 0.125em solid;
  border-radius: 0.25rem;
}
main .projects-featured-section .skills-container .card {
  height: 100%;
  width: 100%;
  border: solid 3px rgba(70, 80, 100, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: linear-gradient(135deg, rgba(50, 60, 80, 0.05), rgba(50, 60, 80, 0.05));
  width: 100%;
  height: 100%;
  position: relative;
}
main .projects-featured-section .skills-container .card svg {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 1;
}
main .projects-featured-section .skills-container .card svg .card-shape {
  fill: none;
}
main .projects-featured-section .skills-container .card svg .card-title {
  text-anchor: middle;
  alignment-baseline: middle;
  font-family: "Goldman", sans-serif;
  fill: rgba(147, 160, 188, 0.5);
}
main .projects-featured-section .skills-container .card .card-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  box-sizing: border-box;
  z-index: 2;
  border-radius: 15px;
}
main .projects-featured-section .skills-container .card .card-content .card-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 1.5rem auto 15px auto;
}
main .projects-featured-section .skills-container .card .card-content .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  filter: brightness(0.5) contrast(1.05);
}
main .projects-featured-section .skills-container .card .card-content .card-stats {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 0.75rem;
  margin-bottom: 1rem;
  padding: 0 0 1rem;
}
main .projects-featured-section .skills-container .card .card-content .card-stats .stat {
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}
main .projects-featured-section .skills-container .card .card-content .card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  line-height: 1.75em;
  flex: 1;
}
main .projects-featured-section .skills-container .card .card-content .card-description p {
  color: rgb(70, 80, 100);
  font-size: 1.1rem;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .projects-featured-section .skills-container .card .card-content .card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  bottom: 12px;
  right: 25px;
}
main .projects-featured-section .skills-container .card .card-content .card-footer a {
  font-weight: bold;
  color: rgba(70, 80, 100, 0.75);
  cursor: pointer;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: "Goldman", sans-serif;
}
main .projects-featured-section .skills-container .card .card-content .card-footer a::after {
  content: "»";
  margin-left: 5px;
}
@media (max-width: 768px) {
  main .projects-featured-section .skills-container {
    width: min(76vw, 300px);
    position: absolute;
    transition: transform 0.8s ease, opacity 0.8s ease, box-shadow 0.8s ease;
  }
  main .projects-featured-section .skills-container .card {
    clip-path: polygon(0px 20px, 20px 0px, 280px 0px, 300px 20px, 300px 440px, 280px 460px, 20px 460px, 0px 440px);
  }
  main .projects-featured-section .skills-container .card .card-content .card-image {
    width: 160px;
    height: 160px;
  }
}
main .projects-featured-section .all-projects-button {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
main .education-school-section,
main .education-certifcates-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}
main .education-school-section .education-child-articles,
main .education-certifcates-section .education-child-articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5rem;
}
main .education-school-section .education-certificates-articles,
main .education-certifcates-section .education-certificates-articles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5rem;
}
main .education-school-section .education-certificates-articles .education-article-context .education-content .education-certificates p,
main .education-certifcates-section .education-certificates-articles .education-article-context .education-content .education-certificates p {
  color: rgba(158, 190, 255, 0.5);
  line-height: 1.5;
  font-size: 1.25rem;
}
main .education-school-section .education-article-context,
main .education-certifcates-section .education-article-context {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 100%;
  border: solid 3px rgba(70, 80, 100, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: linear-gradient(135deg, rgba(50, 60, 80, 0.05), rgba(50, 60, 80, 0.05));
  padding: 3rem 2rem 4rem;
  box-shadow: inset 0 0 15px rgba(51, 81, 142, 0.25);
  height: auto;
  border: solid 2px rgba(51, 81, 142, 0.5);
}
main .education-school-section .education-article-context .education-title,
main .education-certifcates-section .education-article-context .education-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: solid 3px rgba(158, 190, 255, 0.05);
  padding: 0 2rem 1rem;
}
main .education-school-section .education-article-context .education-title .education-header-container h3,
main .education-certifcates-section .education-article-context .education-title .education-header-container h3 {
  color: rgba(158, 190, 255, 0.5);
  opacity: 0.75;
  font-size: 2rem;
}
main .education-school-section .education-article-context .education-title .education-year-container,
main .education-certifcates-section .education-article-context .education-title .education-year-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main .education-school-section .education-article-context .education-title .education-year-container p,
main .education-certifcates-section .education-article-context .education-title .education-year-container p {
  font-size: 2rem;
  font-style: italic;
  color: rgba(158, 190, 255, 0.5);
}
main .education-school-section .education-article-context .education-content,
main .education-certifcates-section .education-article-context .education-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 5rem;
  padding: 2rem 2rem 0;
  min-height: 200px !important;
}
main .education-school-section .education-article-context .education-content .education-excerpt,
main .education-certifcates-section .education-article-context .education-content .education-excerpt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  width: 45%;
}
main .education-school-section .education-article-context .education-content .education-excerpt p,
main .education-certifcates-section .education-article-context .education-content .education-excerpt p {
  color: rgba(158, 190, 255, 0.5);
  line-height: 1.5;
  font-size: 1.25rem;
}
main .education-school-section .education-article-context .education-content .separator,
main .education-certifcates-section .education-article-context .education-content .separator {
  width: 3px;
  align-self: stretch;
  background-color: rgba(158, 190, 255, 0.05);
}
main .education-school-section .education-article-context .education-content .education-properties,
main .education-certifcates-section .education-article-context .education-content .education-properties {
  width: 45%;
}
main .education-school-section .education-article-context .education-content .education-properties h4,
main .education-certifcates-section .education-article-context .education-content .education-properties h4 {
  font-size: 1.5rem;
  color: rgba(158, 190, 255, 0.5);
  margin-bottom: 1.5rem;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul,
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  list-style: none;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li p:not(.rijnland-properties-spec li p),
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li p:not(.rijnland-properties-spec li p) {
  color: rgba(158, 190, 255, 0.5);
  font-size: 1.25rem;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li p:not(.rijnland-properties-spec li p):nth-child(1),
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li p:not(.rijnland-properties-spec li p):nth-child(1) {
  font-weight: bold;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li p:not(.rijnland-properties-spec li p):nth-child(2),
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li p:not(.rijnland-properties-spec li p):nth-child(2) {
  font-style: italic;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container,
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container {
  display: flex;
  margin-top: 0.5rem;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .green-rate,
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .green-rate {
  background-color: #2ecc71;
  background-image: linear-gradient(to bottom, rgb(84.456, 216.544, 140.468), rgb(36.616, 162.384, 89.948));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(151, 242, 151, 0.2);
  border-radius: 4px;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:not(.green-rate),
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:not(.green-rate) {
  background-color: rgba(158, 190, 255, 0.1);
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate,
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate {
  width: 60px;
  height: 13px;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:first-child,
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:first-child {
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:nth-child(2), main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:nth-child(3), main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:nth-child(4),
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:nth-child(2),
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:nth-child(3),
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:nth-child(4) {
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0% 100%);
}
main .education-school-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:last-child,
main .education-certifcates-section .education-article-context .education-content .education-properties .education-ul li .completion-rating-container .rate:last-child {
  clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
main .education-school-section .education-article-context .education-content .education-properties .rijnland-properties-spec,
main .education-school-section .education-article-context .education-content .education-properties .certificates-properties,
main .education-certifcates-section .education-article-context .education-content .education-properties .rijnland-properties-spec,
main .education-certifcates-section .education-article-context .education-content .education-properties .certificates-properties {
  list-style: square;
  margin-left: 1rem;
}
main .education-school-section .education-article-context .education-content .education-properties .rijnland-properties-spec li p,
main .education-school-section .education-article-context .education-content .education-properties .certificates-properties li p,
main .education-certifcates-section .education-article-context .education-content .education-properties .rijnland-properties-spec li p,
main .education-certifcates-section .education-article-context .education-content .education-properties .certificates-properties li p {
  color: rgba(158, 190, 255, 0.5);
  font-size: 1.25rem;
  font-style: italic;
}
main .education-school-section .education-article-context .education-content .education-properties .rijnland-properties-spec li::marker,
main .education-school-section .education-article-context .education-content .education-properties .certificates-properties li::marker,
main .education-certifcates-section .education-article-context .education-content .education-properties .rijnland-properties-spec li::marker,
main .education-certifcates-section .education-article-context .education-content .education-properties .certificates-properties li::marker {
  color: #2ecc71;
}
main .education-school-section .education-article-context .education-content .education-properties .certificates-properties,
main .education-certifcates-section .education-article-context .education-content .education-properties .certificates-properties {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0;
}
footer .footer-hr-mobile {
  display: none;
}
footer .footer-first-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
}
footer .footer-first-div p {
  color: rgb(70, 80, 100);
  text-align: center;
  padding: 0.25rem 0;
  font-weight: 200;
}
footer .footer-second-div .footer-svg a {
  color: rgb(70, 80, 100);
  text-decoration: none;
}
footer .footer-second-div .footer-svg a svg {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 0.5rem;
  fill: rgb(70, 80, 100);
}
footer .footer-second-div .footer-svg a:hover {
  text-decoration: underline;
}

@media (max-width: 400px) {
  .cv-experience-section {
    grid-template-columns: 1fr;
  }
  .cv-experience-section div h3 span {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  header .header-desktop #portfolio-title img {
    height: 7.5vh;
  }
  main {
    padding: 1rem;
  }
  main .cv-banner-section .cv-banner-fancy-header .cv-banner-container {
    min-height: 100px;
  }
  main .cv-banner-section .cv-banner-fancy-header .cv-banner-container .heading {
    font-size: clamp(1.75rem, 4vw, 2rem);
    max-width: 100%;
    text-align: center;
  }
  main .cv-banner-section .cv-banner-fancy-header .subheading-container {
    flex-direction: column;
  }
  main .cv-banner-section .cv-banner-fancy-header .subheading-container .subheading {
    font-size: clamp(0.8rem, 3vw, 1rem);
  }
  main .cv-banner-section .cv-banner-fancy-header .subheading-container .social-icons svg {
    width: 20px;
    height: 20px;
  }
  main .cv-introduction-section .introduction-container {
    gap: 5px;
  }
  main .cv-introduction-section .introduction-container .row1 .row1-right ul {
    grid-template-columns: 1fr 1fr;
  }
  main .cv-introduction-section .introduction-container .row2-right {
    gap: 5px;
  }
  main .cv-introduction-section .introduction-container .row2-right .row2-right-bottom {
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-areas: "bottom-left" "bottom-right";
  }
  main .cv-skills-section-carousel .skills-container {
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  main .cv-skills-section-carousel .skills-container .left {
    transform: translate(calc(-25% - 40vw), -50%) scale(0.5);
  }
  main .cv-skills-section-carousel .skills-container .right {
    transform: translate(calc(-75% + 40vw), -50%) scale(0.5);
  }
  main .timeline-section .timeline .timeline-container .timeline-item .timeline-img {
    left: 0;
  }
  main .timeline-section .timeline .timeline-container .timeline-item .timeline-content {
    width: 100%;
    padding: 1rem;
  }
  main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship {
    flex-direction: column;
  }
  main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div:nth-child(1) {
    width: 100%;
  }
  main .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div:nth-child(2) {
    width: 100%;
  }
  main .projects-featured-section .carousel {
    position: static;
  }
  main .projects-featured-section .carousel .carousel-arrow {
    top: 45% !important;
  }
  main .projects-featured-section .carousel .skills-container {
    top: 45%;
  }
  main .projects-featured-section .carousel .skills-container .card .card-content .card-description {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main .projects-featured-section .carousel .skills-container .card .card-content .card-footer {
    bottom: 5px;
    right: 15px;
  }
  main .projects-featured-section .carousel .skills-container .card .card-content .card-stats {
    margin-bottom: 5px;
  }
  main .education-certifcates-section .education-article-context .education-title .education-header-container h3,
  main .education-school-section .education-article-context .education-title .education-header-container h3 {
    font-size: 1.25rem !important;
  }
  main .education-certifcates-section .education-article-context .education-title .education-year-container p,
  main .education-school-section .education-article-context .education-title .education-year-container p {
    font-size: 1.25rem !important;
  }
  footer {
    font-size: 0.75rem;
  }
}
@media (max-width: 800px) {
  main .cv-introduction-section .introduction-container .row1 .row1-left p {
    font-size: 1.2rem;
  }
  main .cv-experience-section {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    width: 100%;
  }
  main .cv-experience-section p {
    font-size: 2.5rem;
  }
  main .cv-experience-section h3 {
    font-size: 0.75rem;
  }
  main .projects-featured-section .skills-container .card .card-content .card-description p {
    -webkit-line-clamp: 3;
  }
  main .education-article-context .education-title {
    flex-direction: column !important;
    gap: 1rem !important;
  }
  .row1-right ul {
    grid-template-columns: 1fr;
  }
  .row1-right ul .row2-right-bottom {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 991px) {
  header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    z-index: 2000;
  }
  header .nav-toggle-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 3.5rem;
    background: none;
    border: none;
    cursor: pointer;
    margin: 0.5rem;
    color: white;
    transition: transform 0.3s ease;
    z-index: 9999;
    position: fixed;
  }
  header .nav-toggle-button::before {
    content: "☰";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    background-color: rgba(34, 34, 34, 0.75);
    border: solid 3px white;
    background: linear-gradient(135deg, rgba(34, 34, 34, 0.1), rgba(34, 34, 34, 0.2));
  }
  header.dropdown-active .nav-toggle-button::before {
    content: "×";
    font-size: 2.5rem;
    background-color: white;
    color: rgb(6, 10, 18);
  }
  header .nav-header {
    display: none;
  }
  header .nav-header-dropdown {
    display: none;
    background-color: #060a12;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
  }
  header .nav-header-dropdown.active {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header .nav-header-dropdown ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 2rem;
    width: 100%;
    height: 100%;
  }
  header .nav-header-dropdown ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
  }
  header .nav-header-dropdown ul li a.active {
    color: #2ecc71;
  }
  main {
    padding: 1rem;
  }
  main .cv-skills-section h2,
  main .cv-projects-section h2,
  main .cv-introduction-section h2,
  main .timeline-section h2,
  main .projects-featured-section h2 {
    font-size: 1.75rem;
  }
  main .education-school-section h1,
  main .education-school-section h2,
  main .education-certifcates-section h1,
  main .education-certifcates-section h2 {
    font-size: 1.75rem;
  }
  main .cv-banner-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  main .cv-banner-section .cv-main-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  main .cv-banner-section .cv-main-banner .profile-pic {
    max-width: clamp(200px, 20vw, 325px);
    margin-bottom: 1rem;
  }
  main .cv-banner-section .cv-banner-fancy-header {
    margin-top: 0;
  }
  main .cv-banner-section .cv-banner-fancy-header .cv-banner-container .heading {
    max-width: 100%;
    min-height: 100px;
    text-align: center;
  }
  main .cv-experience-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
    width: 100%;
  }
  main .cv-introduction-section .introduction-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "row1-left" "row1-right" "row2-left" "row2-right";
  }
  main .cv-introduction-section .introduction-container .row1 {
    grid-template-columns: 1fr;
    grid-template-areas: "row1-left" "row1-right";
  }
  main .cv-introduction-section .introduction-container .row1-right ul {
    grid-template-columns: repeat(2, 1fr);
  }
  main .cv-introduction-section .introduction-container .row2 {
    grid-template-columns: 1fr;
    grid-template-areas: "row2-left" "row2-right";
  }
  main .cv-introduction-section .introduction-container .row2-right-bottom {
    grid-template-columns: 1fr 1fr;
  }
  main .cv-introduction-section .introduction-container .row2-right {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "row2-right-top" "row2-right-bottom";
  }
  main .cv-introduction-section .introduction-container .row2-right .row2-right-bottom {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "bottom-left bottom-right";
  }
  main .cv-contact-me-section {
    flex-direction: column !important;
  }
  main .cv-contact-me-section .contact-me-text {
    padding: 1rem;
    width: 100%;
  }
  main .cv-contact-me-section .contact-me-text p {
    font-size: 1.25rem;
  }
  main .cv-contact-me-section .contact-me-button-container {
    margin-top: 2rem;
    width: 100%;
  }
  main .projects-featured-section {
    height: 800px;
  }
  main .projects-featured-section .skills-container {
    top: 35%;
  }
  main .projects-featured-section .carousel .skills-container.left,
  main .projects-featured-section .carousel .skills-container.right {
    display: none !important;
  }
  main .projects-featured-section .carousel .left-arrow {
    left: 0;
  }
  main .projects-featured-section .carousel .right-arrow {
    right: 0;
  }
  main .projects-featured-section .carousel .carousel-arrow {
    display: block;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    color: #2ecc71;
    border: none;
    cursor: pointer;
    z-index: 20;
    transition: background 0.3s;
    background: transparent;
  }
  main .projects-featured-section .carousel .carousel-arrow:hover {
    background: rgba(0, 0, 0, 0.6);
  }
  main .cv-skills-section-carousel {
    width: 100%;
  }
  main .cv-skills-section-carousel .skills-container {
    width: min(60vw, 320px);
  }
  main .cv-skills-section-carousel .front {
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 3;
    opacity: 1;
  }
  main .cv-skills-section-carousel .left {
    transform: translate(-80%, -50%) scale(0.6);
  }
  main .cv-skills-section-carousel .right {
    transform: translate(-20%, -50%) scale(0.6);
  }
  .timeline-section .timeline .timeline-container .timeline-item .timeline-img {
    left: 0;
  }
  .timeline-section .timeline .timeline-container .timeline-item .timeline-content {
    width: 100%;
    padding: 1rem;
  }
  .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship {
    flex-direction: column !important;
    align-items: center;
  }
  .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div:nth-child(1) {
    width: 100% !important;
  }
  .timeline-section .timeline .timeline-container .timeline-item .timeline-content .timeline-internship div:nth-child(2) {
    width: 100% !important;
  }
  .education-certifcates-section .education-article-context .education-title,
  .education-school-section .education-article-context .education-title {
    padding: 0 0 1rem !important;
  }
  .education-certifcates-section .education-article-context .education-title .education-header-container h3,
  .education-school-section .education-article-context .education-title .education-header-container h3 {
    color: rgba(158, 190, 255, 0.5);
    opacity: 0.75;
    font-size: 1.5rem !important;
  }
  .education-certifcates-section .education-article-context .education-title .education-year-container p,
  .education-school-section .education-article-context .education-title .education-year-container p {
    font-size: 1.5rem !important;
  }
  .education-certifcates-section .education-article-context .education-content,
  .education-school-section .education-article-context .education-content {
    flex-direction: column !important;
    padding: 0.5rem !important;
    gap: 1rem !important;
  }
  .education-certifcates-section .education-article-context .education-content .education-excerpt,
  .education-school-section .education-article-context .education-content .education-excerpt {
    width: 100% !important;
  }
  .education-certifcates-section .education-article-context .education-content .separator,
  .education-school-section .education-article-context .education-content .separator {
    display: none;
  }
  .education-certifcates-section .education-article-context .education-content .education-properties,
  .education-school-section .education-article-context .education-content .education-properties {
    width: 100% !important;
  }
  footer {
    flex-direction: column;
    margin: 2rem 0 1rem;
  }
}
@media (min-width: 992px) {
  header .nav-toggle-button {
    display: none;
  }
  header .nav-header {
    display: flex;
  }
  header .nav-header-dropdown {
    display: none !important;
  }
  main {
    padding: 10rem 1rem;
  }
  main .cv-banner-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
  }
  main .cv-banner-section .cv-banner-fancy-header .cv-banner-container {
    min-height: 100px;
  }
  main .cv-experience-section {
    grid-template-columns: repeat(4, 1fr);
    gap: 7.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1150px) {
  main .cv-skills-section-carousel .front {
    transform: translate(-50%, -50%) scale(0.8);
    z-index: 3;
    opacity: 1;
  }
  main .cv-skills-section-carousel .left {
    transform: translate(-80%, -50%) scale(0.6);
  }
  main .cv-skills-section-carousel .right {
    transform: translate(-20%, -50%) scale(0.6);
  }
}
@media (min-width: 1151px) {
  .cv-skills-section-carousel .front {
    transform: translate(-50%, -50%) scale(0.9);
    z-index: 3;
    opacity: 1;
  }
  .cv-skills-section-carousel .left {
    transform: translate(calc(-30% - 400px), -50%) scale(0.65);
    z-index: 2;
    opacity: 0.7;
  }
  .cv-skills-section-carousel .right {
    transform: translate(calc(-70% + 400px), -50%) scale(0.65);
    z-index: 2;
    opacity: 0.7;
  }
}/*# sourceMappingURL=main.css.map */