{% extends "base.html" %}

{% block content %}
<section id="about-me-section">
  <article class="about-me-excerpt">
    <h1>Meer Over <span class="green-name">Mij</span></h1>
    <!-- <hr> -->
    <p>
      Met vol enthousiasme en een enorme bak aan motivatie ga ik de toekomst tegemoet. Waar ik mij in wil gaan verdiepen is voor mij nog niet helemaal duidelijk.
    </p>
    <p>
      Toch wel een belangrijk eigenschap die ik bezit is een onderzoekende houding. Zodra ik iets voor me krijg wil ik weten hoe het werkt en hoe we het beter kunnen maken.
    </p>
    <p>
      
    </p>
    <p>
      Zo lijkt het mij interessant om wat dieper in de computer te duiken. Dat betekent dat ik in de nabije toekomst een low-level taal zal gaan leren.
    </p>
    <p>
      Ook ben ik bezig met Hack The Box om meer te leren over cybersecurity. Het mooie hieraan is dat je tegelijkertijd meer leert over netwerken, poorten, protocollen, shells, servers, tmux, vim, enzovoort.
    </p>
    <p>
      In de tussentijd ga ik samen met een aantal voormalige klasgenoten een aantal projecten opzetten, met als doel om samenwerking en de manier van werken binnen een bedrijf te bevorderen.
    </p>
    <p>Onderzoekende houding</p>
    <p>Open voor alle uitdagingen</p>
    <p>Met veel humor en plezier</p>
    <p>Door mijn geschiedenis in schilderen, erg handig met gereedschap en uberhaupt in het maken van dingen</p>
    <p>Gezellige sfeer en team vind ik enorm belangrijk</p>
    <!-- <hr> -->
  </article>
  <article class="about-me-form-article">
    <!-- <h2><span class="green-name">---</span> Vragen <span class="green-name">of</span> Contact?  <span class="green-name">---</span></h2> -->
     <h2>Vragen of <span class="green-name">Contact</span></h2>
    <form method="POST" class="about-me-form">

        {{ form.hidden_tag() }}

        <div>
          <!-- <label for="name">Naam</label> -->
          <input type="text" id="name" name="name" placeholder="Naam" autocomplete="name" value="{{ form.name.data or '' }}">
          {% for error in form.name.errors %}
              <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <div>
          <!-- <label for="email">Email</label> -->
          <input type="email" id="email" name="email" placeholder="E-mail" autocomplete="email" value="{{ form.email.data or '' }}">
          {% for error in form.email.errors %}
              <span class="error">{{ error }}</span>
          {% endfor %}
        </div>
    
        <div>
          <!-- <label for="message">Bericht</label> -->
          <textarea id="message" name="message" placeholder="Bericht...">{{ form.message.data or '' }}</textarea>
          {% for error in form.message.errors %}
              <span class="error">{{ error }}</span>
          {% endfor %}
        </div>

        <div class="form-item honeypot">
          <input type="text" name="honeypot" style="display:none;">
        </div>

        <div class="about-me-submit-button">
            <button type="submit">Verstuur</button>
        </div>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </article>
</section>

{% endblock %}
