{% extends "base.html" %}

{% block title %}Projects{% endblock %}
 
{% block content %}

<section class="all-projects-section">
   <h2>All Projects</h2>
    <div class="filters">
        <div class="custom-select" data-filter="language">
            <div class="selected">Languages</div>
            <ul class="options">
                <li data-value="">Languages</li>
                <li data-value="python">Python</li>
                <li data-value="javascript">JavaScript</li>
                <li data-value="php">PHP</li>
            </ul>
        </div>

        <div class="custom-select" data-filter="year">
            <div class="selected">DES Year</div>
            <ul class="options">
                <li data-value="">DES Year</li>
                <li data-value="2025">2025</li>
                <li data-value="2024">2024</li>
                <li data-value="2023">2023</li>
            </ul>
        </div>
        <div class="undo-icon-filters">
            <img src="../static/images/undo.png" alt="Undo filter options icon">
        </div>
    </div>

    <div class="projects">
        {% for project in projects %}
            <a href="{{ url_for('projects.project_detail', title=project.link) }}" class="project" data-language="{{ project.language | lower }}" data-year="{{ project.year }}">
                <img src="{{ project.image }}" alt="{{ project.title }} project">
                <div class="overlay">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.description }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</section>


{% endblock %}