{% extends "base.html" %}

{% block title %}Education{% endblock %}

{% block content %}
<section class="education-school-section">
   <h1>My <span class="green-name">Education</span></h1>
   <div class="education-child-articles">
      <article class="education-article-context">
         <div class="education-title">
            <div class="education-header-container">
               <h3>MBO Level 4** | Software Developer</h3>
            </div>
            <div class="education-year-container">
               <p>2022 - 2025</p>
            </div>
         </div>
         <div class="education-content">
            <div class="education-excerpt">
               <p>
                  I started this program with the motivation to give it 100% – and I succeeded. This is clearly reflected in my <span class="green-name">grade list</span>.
               </p>
               <p>
                  I really enjoyed my time at this school and had the opportunity to participate in additional <span class="green-name">projects</span> and <span class="green-name">challenges</span>.
               </p>
               <p>
                  This program not only provided me with a lot of knowledge but also gave me the right preparation to continue growing in my field.
               </p>
            </div>
            <div class="separator"></div>
            <div class="education-properties">
               <ul class="education-ul">
                  <li>
                     <p>School Name:</p>
                     <p>mboRijnland Leiden</p>
                  </li>
                  <li>
                     <p>Education Level:</p>
                     <p>MBO Level 4</p>
                  </li>
                  <li>
                     <p>Field of Study:</p>
                     <p>Software Development / Web Development</p>
                  </li>
                  <li>
                     <p>Overall Completion:</p>
                     <div class="completion-rating-container">
                        <div class="rate green-rate"></div>
                        <div class="rate green-rate"></div>
                        <div class="rate green-rate"></div>
                        <div class="rate green-rate"></div>
                        <div class="rate green-rate"></div>
                     </div>
                  </li>
                  <li>
                     <p>Special Notes:</p>
                     <ul class="rijnland-properties-spec">
                        <li>
                           <p>
                              Graduated with honors (Cum Laude)
                           </p>
                        </li>
                        <li>
                           <p>
                              AI Research
                           </p>
                        </li>
                        <li>
                           <p>
                              Battlebot Internship
                           </p>
                        </li>
                        <li>
                           <p>
                              Smart Garden Project
                           </p>
                        </li>
                        <li>
                           <p>
                              Plymouth Guidance Program
                           </p>
                        </li>
                        <li>
                           <p>
                              Higher Professional Education Client Project
                           </p>
                        </li>
                     </ul>
                  </li>
               </ul>
            </div>
         </div>
      </article>
      <article class="education-article-context">
         <div class="education-title">
            <div class="education-header-container">
               <h3>MBO Level 2** | Painting Assistant</h3>
            </div>
            <div class="education-year-container">
               <p>2014 - 2016</p>
            </div>
         </div>
         <div class="education-content">
            <div class="education-excerpt">
               <p>
                  After secondary school, I initially chose <span class="green-name">IT</span>. My grades were generally quite decent, but my motivation for this program was lacking.
               </p>
               <p>
                  Since I needed to complete a program and had started working as a painter, I decided to pursue an <span class="green-name">MBO Level 2</span> course.
               </p>
               <p>
                  I successfully completed this program and even achieved a <span class="green-name">10/10</span> on the <span class="green-name">national math exam</span>.
               </p>
            </div>
            <div class="separator"></div>
            <div class="education-properties">
               <ul class="education-ul">
                  <li>
                     <p>School Name:</p>
                     <p>ROC Mondriaan Tinwerf</p>
                  </li>
                  <li>
                     <p>Education Level:</p>
                     <p>MBO Level 2</p>
                  </li>
                  <li>
                     <p>Field of Study:</p>
                     <p>Painting Assistant</p>
                  </li>
                  <li>
                     <p>Overall Completion:</p>
                     <div class="completion-rating-container">
                        <div class="rate green-rate"></div>
                        <div class="rate green-rate"></div>
                        <div class="rate green-rate"></div>
                        <div class="rate"></div>
                        <div class="rate"></div>
                     </div>
                  </li>
                  <li>
                     <p>Special Notes:</p>
                     <p>Scored 10/10 on the national math exam.</p>
                  </li>
               </ul>
            </div>
         </div>
      </article>
      <article class="education-article-context">
         <div class="education-title">
            <div class="education-header-container">
               <h3>VMBO GL* | General Agriculture</h3>
            </div>
            <div class="education-year-container">
               <p>2008 - 2012</p>
            </div>
         </div>
         <div class="education-content">
            <div class="education-excerpt">
               <p>
                  After primary school, I chose to attend Wellant College in Madestein. I was advised to pursue <span class="green-name">HAVO-TL</span>, but decided to take the easier route.
               </p>
               <p>
                  I followed TL for four years, but in my final year I dropped Spanish, which resulted in me earning a <span class="green-name">GL diploma</span>.
               </p>
               <p>
                  Overall, I completed my final exams fairly well: I passed all subjects with a sufficient grade.
               </p>
               <p>
                  Apart from <span class="green-name">Physical Education</span>, for which I almost always scored a <span class="green-name">10/10</span>, I mostly had a "just enough to pass" mindset for the other subjects.
               </p>
            </div>
            <div class="separator"></div>
               <div class="education-properties">
                  <ul class="education-ul">
                     <li>
                        <p>School Name:</p>
                        <p>Wellant College Madestein</p>
                     </li>
                     <li>
                        <p>Education Level:</p>
                        <p>Mixed Learning Path (GL) / Theoretical Learning Path (TL)</p>
                     </li>
                     <li>
                        <p>Field of Study:</p>
                        <p>General Agriculture</p>
                     </li>
                     <li>
                        <p>Overall Completion:</p>
                        <div class="completion-rating-container">
                           <div class="rate green-rate"></div>
                           <div class="rate green-rate"></div>
                           <div class="rate green-rate"></div>
                           <div class="rate"></div>
                           <div class="rate"></div>
                        </div>
                     </li>
                     <li>
                        <p>Special Notes:</p>
                        <p>Excellent performance in Physical Education</p>
                     </li>
                  </ul>
               </div>
         </div>
      </article>
   </div>
   <p class="education-explenation">*Pre-vocational Secondary Education</p>
   <p class="education-explenation">**Senior Secondary Vocational Education</p>
</section>
<!-- <hr> -->
<section class="education-certifcates-section">
   <h2>My <span class="green-name">Certificates</span></h2>
   <div class="education-certificates-articles">
      <article class="education-article-context">
         <div class="education-title">
            <div class="education-header-container">
               <h3>Artificial Intelligence Research</h3>
            </div>
            <div class="education-year-container">
               <p>Certificate of Excellence</p>
            </div>
         </div>
         <div class="education-content">
            <div class="education-excerpt">
               <p>
                  AI is unavoidable. Like many other schools, <span class="green-name">mboRijnland</span> experienced significant challenges with the negative aspects of AI.
               </p>
               <p>
                  A teacher from my current program decided to start a research project on the use of AI and how it can be applied responsibly in lessons.
               </p>
               <p>
                  This research was a collaboration between students and the teacher. Together with several other students, I successfully completed this <span class="green-name">research project</span>.
               </p>
            </div>
            <div class="separator"></div>
            <div class="education-properties">
               <h4>
                  Topics Covered
               </h4>
               <ul class="certificates-properties">
                  <li>
                     <p>
                        How does AI fit with the programmer of the future?
                     </p>
                  </li>
                  <li>
                     <p>
                        What ethical aspects are associated with AI?
                     </p>
                  </li>
                  <li>
                     <p>
                        How can students use AI responsibly?
                     </p>
                  </li>
                  <li>
                     <p>
                        Are users aware of what they share with AI?
                     </p>
                  </li>
               </ul>
            </div>
         </div>
      </article>
      <article class="education-article-context">
         <div class="education-title">
            <div class="education-header-container">
               <h3>"In Connection"</h3>
            </div>
            <div class="education-year-container">
               <p>Certificate</p>
            </div>
         </div>
         <div class="education-content">
            <div class="education-excerpt">
               <p>
                  For several years, I volunteered at <span class="green-name">Jeugd & Welzijn Leiden</span>, a non-profit organization that supports children growing up in poverty or with addicted parents, helping them enjoy a fun day out.
               </p>
               <p>
                  The organization provided training on how to interact with others, recognize behavior in others as well as yourself, and how to deal with it.
               </p>
            </div>
            <div class="separator"></div>
            <div class="education-properties">
               <h4>
                  Topics Covered
               </h4>
               <ul class="certificates-properties">
                  <li>
                     <p>
                        Communication
                     </p>
                  </li>
                  <li>
                     <p>
                        Internal Blockages
                     </p>
                  </li>
                  <li>
                     <p>
                        Survival Strategies
                     </p>
                  </li>
                  <li>
                     <p>
                        Bioenergetics
                     </p>
                  </li>
               </ul>
            </div>
         </div>
      </article>
   </div>
</section>


{%endblock %}