{% extends "base.html" %}

{% block title %}Education{% endblock %}

{% block content %}
<section class="education-school-section">
   <h2>Opleidingen</h2>
   <article>
      <div class="education-rijnland-svg">
         <svg></svg>
      </div>
      <div class="education-article-context">
         <div>
            <p>
               Na de middelbare koos ik in eerste instantie voor ICT. Mijn cijfers waren over het algemeen best wel redelijk, maar mijn motivatie was ook bij deze opleiding ver te zoeken.
            </p>
            <p>
               Eigenlijk wilde ik helemaal geen opleiding gaan doen en gewoon aan de slag als schilder. Maar mijn vader eiste dat ik een minimale opleiding heb voordat ik stop met school.
            </p>
            <p>
               Aangezien ik schilder werd, heb ik dan ook gekozen voor een MBO niveau 2 opleiding. Deze opleiding heb ik dan ook met succes afgerond en heb zelfs een 10/10 gehaald met het rekeneneindexamen. Verder waren er geen spectaulaire bijzonderheden op deze opleiding.
            </p>
         </div>
         <div>
            <ul>
               <li>
                  <p>Schoolnaam:</p>
                  <p>ROC Mondriaan Tinwerf</p>
               </li>
               <li>
                  <p>Opleidingsniveau:</p>
                  <p>MBO 2</p>
               </li>
               <li>
                  <p>Opleidingsrichting:</p>
                  <p>Medewerker Schilder</p>
               </li>
               <li>
                  <p>Algeheel Afronding:</p>
                  <p>Voldoende</p>
               </li>
               <li>
                  <p>Bijzonderheden:</p>
                  <p>Alles gehaald zonder te leren. Voor het rekeneindexamen een 10/10.</p>
               </li>
            </ul>
         </div>
      </div>
   </article>
   <article>
      <div class="education-mondriaan-svg">
         <svg></svg>
      </div>
      <div class="education-article-context">
         <div>
            <p>
               Na de middelbare koos ik in eerste instantie voor ICT. Mijn cijfers waren over het algemeen best wel redelijk, maar mijn motivatie was ook bij deze opleiding ver te zoeken.
            </p>
            <p>
               Eigenlijk wilde ik helemaal geen opleiding gaan doen en gewoon aan de slag als schilder. Maar mijn vader eiste dat ik een minimale opleiding heb voordat ik stop met school.
            </p>
            <p>
               Aangezien ik schilder werd, heb ik dan ook gekozen voor een MBO niveau 2 opleiding. Deze opleiding heb ik dan ook met succes afgerond en heb zelfs een 10/10 gehaald met het rekeneneindexamen. Verder waren er geen spectaulaire bijzonderheden op deze opleiding.
            </p>
         </div>
         <div>
            <ul>
               <li>
                  <p>Schoolnaam:</p>
                  <p>ROC Mondriaan Tinwerf</p>
               </li>
               <li>
                  <p>Opleidingsniveau:</p>
                  <p>MBO 2</p>
               </li>
               <li>
                  <p>Opleidingsrichting:</p>
                  <p>Medewerker Schilder</p>
               </li>
               <li>
                  <p>Algeheel Afronding:</p>
                  <p>Voldoende</p>
               </li>
               <li>
                  <p>Bijzonderheden:</p>
                  <p>Alles gehaald zonder te leren. Voor het rekeneindexamen een 10/10.</p>
               </li>
            </ul>
         </div>
      </div>
   </article>
   <article>
      <div class="education-wellant-svg">
         <svg></svg>
      </div>
      <div class="education-article-context">
         <div>
            <p>
               Na mijn basischool heb ik gekozen voor Wellant College in Madestein. Ik kreeg HAVO-TL advies, maar koos de makkelijke weg. Ik heb vier jaar lang TL gedaan, maar heb in het laatste jaar Spaans laten vallen, waardoor ik een GL-diploma heb.
            </p>
            <p>
               Het eindexamen heb ik over het algemeen wel redelijk afgerond. Buiten dat ik voor Lichamelijke Opvoeding vrijwel altijd een 10/10 had, waren de rest van de vakken allemaal een zesjes mentaliteit.
            </p>
         </div>
         <div>
            <ul>
               <li>
                  <p>Schoolnaam:</p>
                  <p>Wellant College Madestein</p>
               </li>
               <li>
                  <p>Opleidingsniveau:</p>
                  <p>Gemengde Leerweg / Theoretische Leerweg</p>
               </li>
               <li>
                  <p>Opleidingsrichting:</p>
                  <p>Landbouwbreed</p>
               </li>
               <li>
                  <p>Algeheel Afronding:</p>
                  <p>Matig - Voldoende</p>
               </li>
               <li>
                  <p>Bijzonderheden:</p>
                  <p>Uitstekende prestaties voor Lichamelijk Opvoeding</p>
               </li>
            </ul>
         </div>
      </div>
   </article>  
</section>
<hr>
<section class="education-certifcates-section">
   <h2>Certificaten</h2>
   <article>
      <div class="education-ai-onderzoek-svg">
         <svg></svg>
      </div>
      <p>...</p>
      <p>...</p>
   </article>
      <article>
      <div class="education-in-verbinding-svg">
         <svg></svg>
      </div>
      <p>
         Na mijn basischool heb ik gekozen voor Wellant College in Madestein. Ik kreeg HAVO-TL advies, maar koos de makkelijke weg. Ik heb vier jaar lang TL gedaan, maar heb in het laatste jaar Spaans laten vallen, waardoor ik een GL-diploma heb.
      </p>
      <p>
         Na mijn basischool heb ik gekozen voor Wellant College in Madestein. Ik kreeg HAVO-TL advies, maar koos de makkelijke weg. Ik heb vier jaar lang TL gedaan, maar heb in het laatste jaar Spaans laten vallen, waardoor ik een GL-diploma heb.
      </p>
   </article>
</section>
{% endblock %}