{% extends "base.html" %}

{% block title %}Education{% endblock %}

{% block content %}
<section>
   <h2>Opleidingen</h2>
   <div class="education-rijnland-svg">
      <svg></svg>
   </div>
   <div class="education-mondriaan-svg">
      <svg></svg>
   </div>
   <article>
      <div class="education-wellant-svg">
         <svg></svg>
      </div>
      <div>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac venenatis risus. Donec at fermentum mi. Sed id consectetur mi. Morbi pharetra luctus velit, eu fermentum nibh tincidunt quis. Fusce tincidunt tempus tortor vel ultricies. Mauris sed ante nibh. Quisque rutrum, neque at elementum tincidunt, enim quam posuere nisl, vitae ornare orci leo sit amet mauris. Proin venenatis gravida imperdiet.</p>
         <ul>
            <li>
               <p>Schoolnaam:</p>
               <p>Wellant College Madestein</p>
            </li>
            <li>
               <p>Opleidingsniveau:</p>
               <p>Gemengde Leerweg / Theoretische Leerweg</p>
            </li>
            <li>
               <p>Opleidingsrichting:</p>
               <p>Landbouwbreed</p>
            </li>
            <li>
               <p>Algeheel Afronding:</p>
               <p>Matig - Voldoende</p>
            </li>
         </ul>
      </div>

   </article>  
</section>
<section>
   <h2>Certificaten</h2>
   <div class="education-in-verbinding-svg">
      <svg></svg>
   </div>
   <div class="education-ai-onderzoek-svg">
      <svg></svg>
   </div>
</section>
{% endblock %}