{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <section class="cv-main-banner">
        <div class="profile-pic">
            <img src="../static/images/ikzelf.jpg" alt="A selfie of me with the Battlebot">
        </div>
        <div class="banner-info">
            <h1>Atilla Oomen</h1>
            <div class="banner-divider"></div>
            <h2>Junior Software Developer</h2>
        </div>
    </section>
    <!-- INTRODUCTION section-->
    <section class="cv-intro-section">
        <div class="cv-intro-svg">
            <svg></svg>
        </div>
        <article class="cv-intro-article-text cv-section-text">
            Morbi cursus metus eget ornare mattis. In dignissim, nibh nec mollis euismod, ligula felis mollis tortor, vitae maximus libero magna sed nisi. Mauris justo ipsum, tempor at hendrerit eu, commodo eu metus. Etiam vel pharetra nulla. Nunc at consequat sem. Donec eu diam tempor, mattis turpis quis, accumsan turpis. Suspendisse volutpat consectetur efficitur. Morbi imperdiet ante vel nulla condimentum ultrices. Nullam auctor lacinia libero, ac volutpat tortor. Nam commodo venenatis vulputate. Proin quis iaculis eros. Donec odio risus, tincidunt tincidunt posuere non, euismod id mauris. Pellentesque luctus, metus et egestas interdum, neque orci eleifend ante, et faucibus est felis id arcu.
        </article>
    </section>
    <!-- MOTIVATION section-->
    <section class="cv-mot-section">        
        <div class="cv-mot-svg">
            <svg></svg>
        </div>
        <article class="cv-mot-article-text cv-section-text">
            Morbi cursus metus eget ornare mattis. In dignissim, nibh nec mollis euismod, ligula felis mollis tortor, vitae maximus libero magna sed nisi. Mauris justo ipsum, tempor at hendrerit eu, commodo eu metus. Etiam vel pharetra nulla. Nunc at consequat sem. Donec eu diam tempor, mattis turpis quis, accumsan turpis. Suspendisse volutpat consectetur efficitur. Morbi imperdiet ante vel nulla condimentum ultrices. Nullam auctor lacinia libero, ac volutpat tortor. Nam commodo venenatis vulputate. Proin quis iaculis eros. Donec odio risus, tincidunt tincidunt posuere non, euismod id mauris. Pellentesque luctus, metus et egestas interdum, neque orci eleifend ante, et faucibus est felis id arcu.
        </article>
    </section>
    <!-- INTEREST section-->
    <section class="cv-inter-section">        
        <div class="cv-inter-svg">
            <svg></svg>
        </div>
        <article class="cv-inter-article-text cv-section-text">
            Morbi cursus metus eget ornare mattis. In dignissim, nibh nec mollis euismod, ligula felis mollis tortor, vitae maximus libero magna sed nisi. Mauris justo ipsum, tempor at hendrerit eu, commodo eu metus. Etiam vel pharetra nulla. Nunc at consequat sem. Donec eu diam tempor, mattis turpis quis, accumsan turpis. Suspendisse volutpat consectetur efficitur. Morbi imperdiet ante vel nulla condimentum ultrices. Nullam auctor lacinia libero, ac volutpat tortor. Nam commodo venenatis vulputate. Proin quis iaculis eros. Donec odio risus, tincidunt tincidunt posuere non, euismod id mauris. Pellentesque luctus, metus et egestas interdum, neque orci eleifend ante, et faucibus est felis id arcu.
        </article>
    </section>
    <!-- EXPERTISE section-->
    <section class="cv-exper-section">        
        <div class="cv-exper-svg">
            <svg></svg>
        </div>
        <article class="cv-exper-article-text cv-section-text">
            Morbi cursus metus eget ornare mattis. In dignissim, nibh nec mollis euismod, ligula felis mollis tortor, vitae maximus libero magna sed nisi. Mauris justo ipsum, tempor at hendrerit eu, commodo eu metus. Etiam vel pharetra nulla. Nunc at consequat sem. Donec eu diam tempor, mattis turpis quis, accumsan turpis. Suspendisse volutpat consectetur efficitur. Morbi imperdiet ante vel nulla condimentum ultrices. Nullam auctor lacinia libero, ac volutpat tortor. Nam commodo venenatis vulputate. Proin quis iaculis eros. Donec odio risus, tincidunt tincidunt posuere non, euismod id mauris. Pellentesque luctus, metus et egestas interdum, neque orci eleifend ante, et faucibus est felis id arcu.
        </article>
    </section>
    <!-- LANGUAGES section-->
    <section class="cv-lang-section">        
        <div class="cv-lang-svg">
            <svg></svg>
        </div>
        <article class="cv-lang-article-text cv-section-text">
            Morbi cursus metus eget ornare mattis. In dignissim, nibh nec mollis euismod, ligula felis mollis tortor, vitae maximus libero magna sed nisi. Mauris justo ipsum, tempor at hendrerit eu, commodo eu metus. Etiam vel pharetra nulla. Nunc at consequat sem. Donec eu diam tempor, mattis turpis quis, accumsan turpis. Suspendisse volutpat consectetur efficitur. Morbi imperdiet ante vel nulla condimentum ultrices. Nullam auctor lacinia libero, ac volutpat tortor. Nam commodo venenatis vulputate. Proin quis iaculis eros. Donec odio risus, tincidunt tincidunt posuere non, euismod id mauris. Pellentesque luctus, metus et egestas interdum, neque orci eleifend ante, et faucibus est felis id arcu.
        </article>
    </section>
{% endblock %}